body {
	font: 18px Times, sans-serif;
}
table {
	border-collapse: collapse;
}
th,
td {
	padding: 0.35rem;
	text-align: left;
	border: 1px solid black;
}
.container {
	padding: 100px 0;
	width: 20%;
	margin: auto;
}
.button {
	background: black;
	color: white;
	padding: 10px 20px;
	border: 2px solid rgb(133, 128, 128);
	border-radius: 15px;
	margin: 20px 0;
	cursor: pointer;
}
.button:hover {
	opacity: 0.5;
}
